
<div style="top:100px">
  <form>
    <div class="form-group row">
      <label for="reportname" style="left: 20%;" class="col-5 col-form-label">Report Name:</label>
      <div class="col-7">
        <input id="reportname" name="reportname" style="width:50%" placeholder="Enter a report name" type="text" class="form-control" required="required">
      </div>
    </div>
    <div class="form-group row">
      <label for="plansponsor" style="left: 20%;" class="col-5 col-form-label">Plan Sponsor:</label>
      <div class="col-7">
        <div>
          <mat-form-field style="width:50%; position:relative">
            <input id="plansponsor" name="plansponsor" style="width:100%" placeholder="Enter plan sponsor name or number" type="text" class="form-control" required="required" matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto"
                   >
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete" style="width:50%; position:relative; \">
            <mat-option *ngFor="let plansponsor of filteredOptions | async" [value]="plansponsor">
              {{plansponsor}}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="plan" style="left: 20%;" class="col-5 col-form-label">Plan:</label>
      <div class="col-7">
        <select id="plan" name="plan" style="width:50%" class="custom-select" required="required">
          Select a plan
          <option value="0035045">0035045</option>
          <option value="0038423">0038423</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-5" style="left: 20%;">Redact SSN:</label>
      <div class="col-7">
        <div class="custom-control custom-radio custom-control-inline">
          <input name="redact_ssn" id="redact_ssn_0" type="radio" class="custom-control-input" value="Y" checked>
          <label for="redact_ssn_0" class="custom-control-label">Yes</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input name="redact_ssn" id="redact_ssn_1" type="radio" class="custom-control-input" value="N">
          <label for="redact_ssn_1" class="custom-control-label">No</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-5 col-7">
        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>


  </form>
</div>
